{% extends "base.html.twig" %}

{% block body %}
    <h1>Calculator</h1>

    <div id="calculator">
        {{ form(form) }}
    </div>

    {% for message in app.flashes('info') %}
        <div id="result" class="flash-info">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endblock %}